<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/core_elements/core_selector.html">
<link rel="import" href="packages/paper_elements/paper_button.html">
<link rel="import" href="packages/core_elements/core_style.html">

<polymer-element name="settings-view">
  <template>
    <core-style ref="animate-css"></core-style>

    <style>
      * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .thumb.core-selected {
        box-shadow: 0 0 10px #4d7a9a;
      }

      .thumb {
        display: inline-block;
        text-align: center;
        margin: 5px;
        border: 1px solid #7EC0EE;
        border-radius: 4px;
        padding: 3px;
      }

      .img-thumbnail, .diff-thumbnail {
        width: 160px;
        height: 200px;
      }

      .diff-thumbnail {
        font-size: 36px;
        line-height: 42px;
        height: 30px;
      }

      .deck-title {
        font-weight: bold;
      }

      .button-bar {
        margin-top: 40px;
      }

      p {
        cursor: default;
        text-align: center;
      }

      h3 {
        background: #7EC0EE;
        color: white;
        text-align: left;
        padding-left: 5px !important;      }

      #start_btn {
        font-size: 34px;
      }

      #deck-selector-box, #difficulty-selector-box {
        width: 100%;
        height: 280px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        text-align: left;
      }

      #difficulty-selector-box {
        height: 135px;
      }

      img {
        pointer-events: none;
      }

      paper-button::shadow paper-ripple {
        color: blue !important;
      }

      paper-button {
        background-color: #7EC0EE !important;
        color: white !important;
      }
    </style>

    <h3>Card Deck</h3>

    <div id="deck-selector-box">
      <core-selector id="deck-selector" class="selector-list" on-core-select="{{deckSelected}}">
        <template repeat="{{deck in model.decks}}">
          <div class="thumb">
            <img _src="{{deck.backImageURL}}" alt="{{deck.title}}" class="img-thumbnail">
            <p class="deck-title">{{deck.title}}</p>
          </div>
        </template>
      </core-selector>
    </div>

    <h3>Number of Cards</h3>

    <div id="difficulty-selector-box">
      <core-selector id="difficulty-selector" class="selector-list" on-core-select="{{difficultySelected}}">
        <template repeat="{{diff in model.difficulties}}">
          <div class="thumb" data-value="{{diff}}">
            <p class="diff-thumbnail">{{diff}}</p>
          </div>
        </template>
      </core-selector>
    </div>

    <template if="{{model.currentDeck != null && model.numCards != null}}">
      <div class="button-bar" layout horizontal center-justified>
        <paper-button on-mousedown="{{start}}" label="Start Game" raisedButton class="animated bounceIn"></paper-button>
      </div>
    </template>
  </template>

  <script type="application/dart" src="settings_view.dart"></script>
</polymer-element>